*{
	box-sizing: border-box;
}

html, body{
	height: 100%;
	width: 100%;
}

body{
	background-color: rgba(208, 132, 0, 0.4);
}

/* title styling */
h1{
	text-align: center;
	color: white;
}

/* overall form styling */
form{
	display: block;
	text-align: center;
	
}

/* search bar styling */
#search{
	width: 250px;
	height: 35px;
	margin-left: auto;
}

/* search Btn styling */
#searchBtn{
	width: 85px;
	height: 40px;
}

/* Javascript updates */

#photos{	
	background-color: rgba(0,0,0,0.7);
	width: 80%;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

#photos img{
	height: auto;
	width: 400px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 30px;
}

#photos ul{
 list-style: none;
 display: flex;
 flex-direction: row;
 flex-flow: wrap;
 justify-content: center;
}
